/*
	Several CSS sections will be added from activity 5
*/

header > h1 {
  color: darkblue;
}

body > form {
	margin: 2em;
}

/*  This styling sets up the flex container */
.flex {
  display: flex;
  justify-content: space-between;
}

/* this adds a border around the flex items */
.flex > * {
  border: 1px solid;
}


/* Activity 5.1: Media queries
  -Add CSS that removes the border around the flex items */
  @media print {
    .flex > * {
      border: none;
    }
  }

/* Activity 5.2: Media queries
  -Add CSS for when screen size is less than 700px */
@media (max-width: 700px) {
  .flex > * {
    color: #29abe2;
    }
  }

/* Activity 5.3: Media queries
  -Add CSS that checks for device hover capabilities */
@media (hover: hover){
  *:hover {
    color: red;
  }
}

@media (min-width: 2000px) {
  * {
    color:orange;
  }
}
